
.addbook {
  text-align: left;
  padding-left: 200px;
}


.book {
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
}

.button {
  width: 100px;
  background-color: #4caf50;
}




.booklist {
  text-align: left;
  padding-left: 200px;
}


table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
  
table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
  
table th {
  background-color: #4caf50;
  color: white;
}